doctype html
html
  head
    title ohboi
    link(rel='stylesheet', type='text/css', href='styles.css')
    script(src='script.js')
  body
    header
    main
      section
        h1
          | ohboi[
          i lerplate
          | ]
    footer
