
$base-font: serif;
$base-size: 17;
$leading: 27;

$page-width:        90%;
$max-width:         40rem;

@mixin handheld {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

html {
  font: normal #{$base-size}px/#{$leading / $base-size} $base-font;
  color: white;
  text-align: center;

  @include handheld {
    font-size: 1rem;
  }
}

body {
  animation-name: ohboi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


header, main, footer {
  max-width: $max-width;
  width: $page-width;
  margin: 0 auto;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

@keyframes ohboi {
    0% {
      background: #F8AB44;
    }
    50% {
      background: #f08075;

    }
    100% {
      background: #F8AB44;
    }
}