
$base-font  : serif;                  ; $page-width:        90%;
$base-size  : 17;                     ; $max-width:         40rem;
$leading    : 27;

@mixin large {
  @media only screen and (min-width: 1110px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 481px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

html {
  font: normal #{$base-size}px/#{$leading / $base-size} $base-font;
  color: white;
  text-align: center;

  @include small {
    font-size: 0.5rem;
  }

  @include medium {
    font-size: 0.75rem;
  }

  @include large {
    font-size: 1rem;
  }
}

body {
  animation-name: ohboi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

header, main, footer {
  max-width: $max-width;
  width: $page-width;
  margin: 0 auto;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

@keyframes ohboi {
  0% {
    background: #F8AB44;
  }
  50% {
    background: #f08075;

  }
  100% {
    background: #F8AB44;
  }
}